*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Definizione font*/
@font-face {
    font-family: 'PixelFont';
    src: url('Font/PixelifySans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubble';
    src: url('Font/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Chicle';
    src: url('Font/Chicle-Regular.ttf') format('truetype');
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bubble', sans-serif; 
}

body{
    background-color: rgb(244, 131, 116);
    /*margin: 100px 0 0 100px;*/
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.timer{
    text-align: center;
    padding: 10px;

    border: 2px solid rgb(0, 23, 50);
    font-size: 100px;
    font-family: 'Bubble', sans-serif;
    background-color: #fff7f8;
    border-radius: 8px;
}

.button{
    border: 2px solid rgb(0, 23, 50);
    font-size: 50px;
    font-family: 'Bubble', sans-serif;
    background-color: #fff7f8;
    border-radius: 8px;
    cursor: pointer;
}

.focus{
    margin-top: 10px;
    text-align: center;
    font-size: medium;
    font-family: 'Chicle', sans-serif;
}

.copyright{
    background-color: aliceblue;
    padding: 0px 20px 0px 20px;
}

/*
.loading{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid transparent;
    border-top: 2px solid green;
    animation: loading .5s infinite linear;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
*/